<form [formGroup]="pForm" (ngSubmit)="checkForm()">
  <div mat-dialog-content>
    <div class="input-group">
      <label for="password">{{ 'settings.current_password' | translate }}*</label>
      <input type="password" formControlName="password" id="password" />
    </div>
    <div class="input-group">
      <label for="email">{{ 'settings.enter_email' | translate }}*</label>
      <input type="email" formControlName="email" id="remail" />
    </div>
    <div class="hint" *ngIf="hint | async as text"><b>Hint:</b> {{ text }}</div>
  </div>
  <div mat-dialog-actions>
    <button mat-button type="submit" [disabled]="pForm.invalid" class="accept">
      <mat-spinner diameter="20" class="sending" *ngIf="sending | async; else Ok"></mat-spinner>
      <ng-template #Ok>Ok</ng-template>
    </button>
    <button mat-button mat-dialog-close>Zurück</button>
  </div>
</form>