<form [formGroup]="pForm" (ngSubmit)="checkForm()">
  <div mat-dialog-content>
    <div class="input-group">
      <label for="old-password">{{ 'settings.current_password' | translate }}*</label>
      <input type="password" formControlName="old_password" id="old-password" name="old-password" />
    </div>
    <div class="input-group">
      <label for="new-password">{{ 'settings.new_password' | translate }}*</label>
      <input type="password" formControlName="new_password" id="new-password" name="new-password" />
    </div>
    <div class="password-hint">{{ 'user_errors.password_hint' | translate }}</div>
    <div class="input-group">
      <label for="re-password">{{ 'login.repeat_password' | translate }}*</label>
      <input type="password" formControlName="confirm_password" id="re-password" name="re-password" />
    </div>
    <div class="hint" *ngIf="hint | async as text"><b>Hint:</b> {{ text }}</div>
  </div>
  <div mat-dialog-actions>
    <button mat-button type="submit" [disabled]="pForm.invalid" class="accept">
      <mat-spinner diameter="20" class="sending" *ngIf="sending | async; else Ok"></mat-spinner>
      <ng-template #Ok>Ok</ng-template>
    </button>
    <button mat-button mat-dialog-close>Zurück</button>
  </div>
</form>