<div class="content" [class.waiting]="waiting">
  <div class="general">
    <form [formGroup]="form" [class.one_col]="columns<2" (ngSubmit)="checkForm()">
      <div class="form_plus">
        <div class="info">
          <h2>{{ 'mediadaten.mediadatentitle' | translate }}</h2>
          <p class="info_text">{{ 'mediadaten.infotext' | translate }}</p>
        </div>
          <div class="text_form">
            <div class="zone" [class.error]="name_error">
                <label>{{ 'mediadaten.namefirma' | translate }}*</label>
                <input *ngIf="form_mode" maxlength="255" [class.missing]="form.value.name=='.'" type="text" formControlName="name" (focus)="name_error=false">
                <div class="final_form" *ngIf="form_mode==false">{{form.value.name}}</div>
            </div>
            <div class="zone" [class.error]="email_error">
                <label>{{ 'mediadaten.email' | translate }}*</label>
                <input *ngIf="form_mode" maxlength="255" [class.missing]="form.value.email=='.'" type="text" formControlName="email" (focus)="email_error=false">
                <div class="final_form" *ngIf="form_mode==false">{{form.value.email}}</div>
            </div>
            <div class="zone" [class.error]="telefon_error">
                <label>{{ 'mediadaten.telefon' | translate }}*</label>
                <input *ngIf="form_mode" maxlength="255" [class.missing]="form.value.email=='.'" type="text" formControlName="telefon" (focus)="telefon_error=false">
                <div class="final_form" *ngIf="form_mode==false">{{form.value.email}}</div>
            </div>
            <div class="zone" [class.error]="strasse_error">
                <label [innerHTML]="'mediadaten.strasse' | translate | safeHtml"></label>
                <input *ngIf="form_mode" maxlength="255" [class.missing]="form.value.strasse=='.'" type="text" formControlName="strasse" (focus)="strasse_error=false">
                <div class="final_form" *ngIf="form_mode==false">{{form.value.strasse}}</div>
            </div>
            <div class="zone" [class.error]="plzort_error">
                <label>{{ 'mediadaten.plzort' | translate }}</label>
                <input *ngIf="form_mode" maxlength="255" [class.missing]="form.value.plzort=='.'" type="text" formControlName="plzort" (focus)="plzort_error=false">
                <div class="final_form" *ngIf="form_mode==false">{{form.value.plzort}}</div>
            </div>
          </div>
      </div>
      <div class="photupload">
          <div class="form_plus">
          <div class="text_form">
        <div class="zone" [class.error]="text_error">
          <label>{{ 'mediadaten.textareamsgtitle' | translate }}</label>
          <textarea *ngIf="form_mode"  maxlength="6000"  [class.missing]="form.value.text=='.'" [class.textarea_more]="columns>1" [class.textarea_one]="columns<2" rows="4" cols="40" formControlName="text" style="overflow:auto;resize:none" (focus)="text_error=false">
          </textarea>
          <div class="final_form" *ngIf="form_mode==false">{{form.value.text}}</div>
        </div>
        <div class="agree" [class.error]="agree_error">
          <input type="checkbox" name="copyright" id="agree" value="ja" formControlName="agree">
          <label for="agree"><span></span><b>Mit dem Klick erteile ich meine Einwilligung und erkenne die Datenschutzerklärung an:</b>
          </label>
        </div>
        <div class="form_terms">
          {{ 'mediadaten.acktext' | translate }}
        </div>
        <div class="captcha">
          <ngx-recaptcha2 *ngIf="captcha_required | async" class="google-recaptcha" #captchaElem
            siteKey="6Ld3AaIUAAAAAO9WCYY-513nar3KL_iixsj6M_q4"
            [useGlobalDomain]="false"
            size="normal"
            [hl]="language"
            theme="light"
            type="image"
            formControlName="captcha">
          </ngx-recaptcha2>
          <button class="abschicken" *ngIf="form_mode" type="submit" [class.disabled]="!form.valid">abschicken</button>
          <button *ngIf="form_mode==false" type="button" (click)="onSubmit(); waiting=true;" [class.disabled]="!form.valid">{{ 'mediadaten.buttonsubmit' | translate }}</button>
          <button class="form_edit" *ngIf="form_mode==false" type="button" (click)="form_mode=true">bearbeiten</button>
        </div>
      </div>
    </div>
  </div>  
</form>
</div>
</div>
<div class="alert" *ngIf="alert | async">
    <div class="alert_message">
      <div>{{pre_alert_message | async}}</div>
      <div [innerHTML]="message_alert | async | safeHtml" style=" color: rgba(191, 16, 49, 1); text-align: center"></div>
    </div>
    <p *ngIf="form_mode  && exit==false" class="ok" (click)="alert.next(false); waiting=false">OK</p>
    <p *ngIf="form_mode && exit" class="ok" routerLink="/termine">OK</p>
</div>
