<div class="container">
  <div class="button_container">
    <div class="title">{{"aufgeben_menu.title" | translate }}</div>
    <div class="termine section" routerLink="termine">
      <div class="button" >{{"aufgeben_menu.termine" | translate }}<div class="arrow"></div></div>
    </div>
    <div class="text">{{"aufgeben_menu.oder" | translate }}</div>
    <div class="markplatz section" routerLink="kazen">
      <div class="button">{{"aufgeben_menu.kazen" | translate }}<div class="arrow"></div></div>
    </div>
  </div>
</div>
